.owner-row {
  display: flex;
  white-space: nowrap;
}

.ownerAddress {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ownerText {
  margin-right: 5px;
}

.owner {
  color: lime;
  font-weight: bold;
}

.transfer-row {
  display: flex;
  margin-top: 7px;
}

.vishidden {
  visibility: hidden;
}

.panel-footer {
  padding: 7px;
}
